/* Write your CSS here */
.list-container {
  display: flex;
  padding: 10px;
  margin-right: 10px;
}
.button {
  border: none;
  background-color: transparent;
  font-family: 'Roboto';
  color: #7b8794;
  font-weight: 500;
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
  border-bottom: solid 2px #dfe2e5;
  outline: none;
}
.buttonEl {
  color: #2563eb;
  border-bottom-color: #2563eb;
}
